.main{
  height: 100vh;
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 10px 8px 8px #0000000f;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}

.reset {
  margin-left: 20px;
}

.form {
  margin: 50px 0;
  width: 70%;
}

.buttons {
  margin-bottom: 0;
}
